{% extends "base.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}

<div class="col-md-8 col-lg-6">
  <h1 class="h3 mb-3">Contacto</h1>

  <!-- Recuadro principal de contacto -->
  <div class="alert alert-info">
    Nuestro correo electronico:
    <strong><a href="mailto:UrbanQueens@gmail.com">UrbanQueens@gmail.com</a></strong><br><br>
    Teléfono: <strong><a href="https://wa.me/573144040400" target="_blank">+57 3144040400</a></strong><br>
    Dirección: <strong>Calle 12a2#2, Vélez Santander</strong>
  </div>

  <!-- Recuadro final para más información -->
  <div class="alert alert-info mt-3">
    Para más información escríbenos a 
    <strong><a href="mailto:UrbanQueens@gmail.com">UrbanQueens@gmail.com</a></strong>
  </div>
</div>

{% endblock %}
